/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

.clearfix {
  clear: both; }

.wrap {
  max-width: 1024px;
  margin: 0 auto; }

.header {
  width: 100%;
  background: #000;
  text-align: center;
  font-family: Roboto Black;
  font-style: italic;
  font-size: 36px;
  padding: 16px 0;
  color: #50FF44; }

.main {
  background: #F2F2F2;
  text-align: center; }
  .main .ad {
    padding: 24px 0; }
  .main .main-content {
    width: 620px;
    margin: 0 auto; }
    .main .main-content .main-img {
      width: 300px;
      border: 4px solid #000000; }
      .main .main-content .main-img img {
        width: 100%; }
    .main .main-content .introduction {
      text-align-last: left;
      font-family: Roboto Regular;
      font-size: 16px;
      color: #000000;
      line-height: 24px; }
      .main .main-content .introduction .comic-title {
        font-family: Roboto;
        font-weight: bold;
        font-size: 36px;
        color: #FFFFFF;
        line-height: 36px;
        background: #000000;
        padding: 8px 24px; }
      .main .main-content .introduction .subtitle {
        font-weight: bold; }
      .main .main-content .introduction .value {
        margin-left: 20px; }
      .main .main-content .introduction .introduction-content {
        margin: 10px 0 0 20px; }
      .main .main-content .introduction .introduction-summary {
        margin-left: 20px;
        width: 300px;
        text-align: initial; }
  .main .chapters {
    width: 620px;
    margin: 0 auto;
    font-family: Roboto;
    font-weight: bold;
    font-size: 24px;
    text-align: left; }
    .main .chapters .chapters-title {
      display: inline-block;
      color: #FFFFFF;
      padding: 8px 24px;
      background: #000; }
    .main .chapters .chapters-content {
      background: #FFFFFF;
      border: 4px solid #000000;
      padding: 11px 0; }
      .main .chapters .chapters-content li {
        list-style-type: none;
        padding: 8px 24px;
        font-size: 16px;
        line-height: 24px; }
        .main .chapters .chapters-content li:hover {
          color: #FFFFFF;
          background: #000; }
        .main .chapters .chapters-content li:last-child::after {
          content: 'NEW';
          font-size: 14px;
          color: #000000;
          line-height: 14px;
          padding: 2px 12px;
          margin-left: 16px;
          background: #50FF44; }
